<div class="container mt-5">
    <h2 class="text-center">Kết quả tra cứu</h2>

    {{#if student}}
    <div class="card p-4 mt-4">
        <h4>Mã sinh viên: {{student.studentID}}</h4>
        <h4>Họ và tên: {{student.name}}</h4>
        <h4>Môn học: {{student.course}}</h4>
        <h4>Điểm: {{student.score}}</h4>
    </div>
    {{else}}
    <p class="text-danger mt-4">{{error}}</p>
    {{/if}}

    <a href="/" class="btn btn-secondary mt-3">Quay lại</a>
</div>